/* ================
    Général
    ===============
*/
:root {
    --navbar-padding: 0;
    --navbar-height: 3em;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color:black;
}

p {
    text-align: justify;
    text-justify: inter-word;
}

.separator {
    text-align: center;
    clear:both;
}

.titre-centrer {
    font-size: xx-large;
    font-family: 'Anton', sans-serif;
    margin-bottom: 1em;
}

.titre-section {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    bottom: 50%;
    font-size: xx-large;
    font-family: 'Anton', sans-serif;
}

.titre-section > ul {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
    padding-right: 2em;
}

.important-section {
    margin: auto;
    width: 80%;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/* ==========
    Navbar
 ============*/
 .navbar {
    top: 0;
    width: 100%;
    height: var(--navbar-height);
    padding: var(--navbar-padding);
    position: fixed;
    background-color: var(--accent-c);
    opacity: 0.98;
    
}

.navbar-logo > img {
    object-fit: cover;
    width: 100% !important;
    height: var(--navbar-height) !important;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    padding: 12px;
    transition: 0.5s;
}

.navbar li a:hover {
    display: block;
    padding: 12px;
    color: var(--accent-a);
}

.navbar li img {
    width: auto;
    height: var(--brand-logo-height);
    margin: 0 20px 0 20px;
}

.dropdown-content {
    display: none;
    position: absolute;background-color: var(--accent-c);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.dropdown-content a:hover {
    background-color: var(--accent-a);
    color: var(--accent-b);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.background-nav-bar {
    background-color: black;
    opacity:95%;
}

/* ===================
    Section Connect metamask
   ===================*/
.section-connect-metamask{
    background-image: url("./assets/photos/metamask.png");
    padding: 5%;
    text-align: center;
    font-size: x-large;
    font-family: 'Anton', sans-serif;
    background-size: cover;
    background-color: #abb8c3;
}

/* ===================
    Section Rules
 =====================*/
.section-rules-div {
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

#section-rules {
    font-family: monospace;
    font-size:x-large;
    /* font-style: oblique; */
}

.section-rules-div > .titre-section {
    width: 80%;
}

.section-rules-div > .titre-section > p {
    font-family: 'Roboto', sans-serif;
    font-size: medium;
}



/* ===================
/* Forms 
   =================== */

.small-image {
    width: 25%;
    height: 25%;
    margin: auto;
}

.contact-form {
    margin: auto;
    width: 50%;
    
}

.contact-form > * {
    margin-bottom: 2em;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 20px;
    font-size:larger;
}

input[type='number']{
    width: 200px;
    height: 50px;
} 



/* =============
    Footer
  ==============*/
.footer {
    border-top: 2px solid;
    margin-top: 2em;
    bottom: 0;
    padding: 2em;
    text-align: center;
    background-image: url(./assets/background.jpg);
}


/* =============
    Effects and animations 
  ==============*/

.color-change-anim {
transition: color 0.5s ease-in-out;
}

.color-change-anim:hover {
    color:palevioletred;
}

.color-change-anim2 {
transition: color 0.3s ease-out;
}

.color-change-anim2:hover {
    color: palevioletred;
}

.size-anim {
    transition: font-size 0.2s ease-in;
}
  
.size-anim:hover {  
    font-size: 28px;
}

.size-anim-small {
    transition: font-size 0.5s ease-out;
}
  
.size-anim-small:hover {  
    font-size: 25px;
}

.mainImages:hover{
    width:150%;
    height: 45vw;
}

.mainImages2:hover{
    width:105%;
    height: 105%;
}

.background-color-change-anim {
    transition: background-color 0.4s ease-in-out;
}
  
.background-color-change-anim:hover {
    background-color:palevioletred ;
    opacity:90%;
    border-color: #000000;
}

/* =============
    Buttons
  ==============*/

.butt {
    border: 1px outset blue;
    color:#000000;
    height:150px;
    width:150px;
    cursor:pointer;
    font-size:large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 8px;
 }

 
button {
    /* border: none; */
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    cursor: pointer;
    background-color:burlywood;
}

#connectButton, #startGameButton {
    background-color:teal;
}


 /* =============
    loader source: https://www.w3schools.com/howto/howto_css_loader.asp
  ==============*/
 .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin:auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .section-game {
    margin: auto;
    width: 80%;
    border-radius: 10px;
    padding: 12px;
    text-align: center;
}

.center-remember{
    margin: auto;
    width: 80%;
    border-radius: 10px;
    padding: 12px;
}


#cover-spin {
    position:fixed;
    width:100%;
    left:0;right:0;top:0;bottom:0;
    background-color: rgba(233, 230, 230, 0.7);
    z-index:9999;
    display:none;
}

@-webkit-keyframes spin {
	from {-webkit-transform:rotate(0deg);}
	to {-webkit-transform:rotate(360deg);}
}

@keyframes spin {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}

#cover-spin::after {
    content:'';
    display:block;
    position:absolute;
    left:48%;top:40%;
    width:50px;height:50px;
    border-style:solid;
    border-color:black;
    border-top-color:transparent;
    border-width: 10px;
    border-radius:50%;
    -webkit-animation: spin s linear infinite;
    animation: spin 1s linear infinite;
}

#cover-spin > h1  {
    color:white;
    text-align: center; 
    margin-top: 10%; 
    font-size:50px; 
    background-color:palevioletred;
}


/* Table styling provided by codepen (https://codepen.io/dudleystorey/pen/WNQLyd) */

table#reminderRewards { 
    margin: 0 auto;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100; 
    background: #333; color: #fff;
    text-rendering: optimizeLegibility;
    border-radius: 5px; 
  }
  table#reminderRewards thead th { font-weight: 600; }
  table#reminderRewards thead th, table#reminderRewards tbody td { 
    padding: .8rem; font-size: 1.1rem;
  }
  table#reminderRewards tbody td { 
    padding: .8rem; font-size: 1.1rem;
    color: #444; background: #eee; 
  }
  table#reminderRewards tbody tr:not(:last-child) { 
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;  
  }
  
  @media screen and (max-width: 600px) {
    table#reminderRewards caption { background-image: none; }
    table#reminderRewards thead { display: none; }
    table#reminderRewards tbody td { 
      display: block; padding: .6rem; 
    }
    table#reminderRewards tbody tr td:first-child { 
      background: #666; color: #fff; 
    }
      table#reminderRewards tbody td:before { 
      content: attr(data-th); 
      font-weight: bold;
      display: inline-block;
      width: 6rem;  
    }
  }