.butt {
   border: 1px outset blue;
   background-color: lightBlue;
   height:150px;
   width:150px;
   cursor:pointer;
   font-size: xx-large;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div {
  padding-top: 5px;
  padding-right: 10px;

}
